server {  
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name {{ host }};

  error_log /dev/null crit;

  access_log off;

  ssl_certificate         SSL_CERT;
  ssl_certificate_key     SSL_KEY;
  ssl_trusted_certificate SSL_CHAIN_CERT;
  ssl_protocols TLSv1.3;
  ssl_prefer_server_ciphers off;
  ssl_session_tickets off;

  add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";

  resolver 1.1.1.1;

  location = /{{ endpoint }}{
		if ($http_upgrade != "websocket") { 
			return 404;
		}
		proxy_redirect off;
		proxy_http_version 1.1;
		proxy_pass https://shadowsocks:9000/;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header Host $http_host;
	}

	location /dns-query {
		proxy_redirect off;
		proxy_http_version 1.1;
		proxy_pass https://adguard:8443/dns-query;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header Host $http_host;
    }
	
	{% if not inited %}
		location /adguard/ {
			proxy_redirect / /adguard/;
			proxy_cookie_path / /adguard/;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_set_header Host $http_host;
			proxy_pass http://adguard:83/;
		}

		location /wg/ {
			proxy_redirect / /wg/;
			proxy_cookie_path / /wg/;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_set_header Host $http_host;
			proxy_pass http://wg:51821/;
		}
	{% endif %}

}
